
{% extends "game/base.html" %}
{% block body_block %}
{% load static %}

<div class="bg-light">
  <div class="container  py-5">
    <div class="p-5 mb-4 bg-white rounded-3">
      <h1 class="display-5 fw-bold mb-3">Home</h1>
      <div class="row align-items-md-stretch" style="user-select: auto;">
      
      <div class="col-md-4" style="user-select: auto;">
        <div class="h-100 p-5 bg-light border rounded-3" style="user-select: auto;">
        
        <div class="">
                    {% if message %}
                        {{message}}
                    {% else %}
                    
                        <a type="button" class="m-1 btn btn-dark btn-lg" href="{% url 'logout' %}?next=/accounts/login">Logout</a>
                    
                        <a type="button" class="m-1 btn btn-dark btn-lg" href="{% url 'createteam' %}">CreateTeam</a>
                        
                        <a type="button" class="m-1 btn btn-dark btn-lg" href="{% url 'jointeam' %}">JoinTeam</a>
                       
                      {% if user.playername.count > 0 %}
                        <!-- <a type="button" class="m-1 btn btn-dark btn-lg" href="{% url 'leaderboard' %}">Leaderboard</a> -->

                        <!-- <a type="button" class="m-1 btn btn-dark btn-lg" href="{% url 'view_team' %}">View Games</a> -->
                      

                        <hr>

                        {% for m in modules %}
                          <div><a type="button" class="my-1 btn btn-dark" href="{% url 'play_module' m.id %}">{{m}}
                          </a>
                           </div>
                        {% endfor %}

                      {% endif %}

                    {% endif %}
        </div>
                    

     </div>
      </div>
      <div class="col-md-8" style="user-select: auto;">
        <div class="h-100 bg-light border rounded-3" style="user-select: auto;">
          
          <img style="height: 450px" class="img-fluid w-100 h-100 rounded-3" src="{% static 'game/images/team.jpg' %}" alt="home">
          
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}