{% extends "game/base.html" %}
{% block body_block %}
{% load static %}

<div class="bg-light">
  <div class="container  py-5">
    <div class="p-5 mb-4 bg-white rounded-3">
      <h1 class="display-5 fw-bold mb-3">{{ game }} - Scenario</h1>
      <div class="row align-items-md-stretch" style="user-select: auto;">
      
      <div class="col-md-6" style="user-select: auto;">
        <div class="h-100 p-5 bg-light border rounded-3" style="user-select: auto;">
        <h2 style="user-select: auto;">Instructions</h2>
       {{game.intro|safe}}

       <a type="button" class="btn btn-dark" href="{% url 'play_game' id=game.id %}">Back to Training</a>

       <a type="button" class="btn btn-dark" href="{% url 'play_game_question' id=game.id cur_q_id=0 ans=0 %}">Proceed To Game</a>

     </div>
      </div>
      <div class="col-md-6" style="user-select: auto;">
        <div class="h-100 bg-light border rounded-3" style="user-select: auto;">
          
          <img style="height: 450px" class="img-fluid w-100 h-100 rounded-3" src="{{ game.image.url }}" alt="{{game}}">
          
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}