    
{% extends "game/base.html" %}
{% block body_block %}
{% load static %}

<div class="bg-light">
  <div class="container  py-5">
    <div class="p-5 mb-4 bg-white rounded-3">
      <h1 class="display-5 fw-bold mb-3">Games</h1>
      <div class="row align-items-md-stretch" style="user-select: auto;">


        <div class="col-md-6" style="user-select: auto;">
          <div class="h-100 p-5 bg-light border rounded-3" style="user-select: auto;">
            <h2 style="user-select: auto;">Team - {{team}}</h2>
            
            <div>
                {% if message %}
                {{message}}
                {% endif %}

                <ul class="list-group my-3">
                    {% for player in players %}

                    <li class="list-group-item">
                        {{player.name}}
                    </li>

                    {% endfor %}
                </ul>

                <h2 style="user-select: auto;">Games</h2>

                {% for g in game %}

                <div><a type="button" class="my-1 btn btn-dark" href="{% url 'play_game' g.id %}">{{g.name}}
                </a>
                 </div>

                {% endfor %} 
                <hr>
                <div><a type="button" class="mt-2 btn btn-dark" href="{% url 'index' %}">Home</a></div>

            </div>

        </div>
    </div>

    <div class="col-md-6" style="user-select: auto;">
      <div class="h-100 bg-light border rounded-3" style="user-select: auto;">

        <img style="height: 450px" class="img-fluid w-100 h-100 rounded-3" src="{% static 'game/images/team.jpg' %}" alt="team">

    </div>

</div>

</div>
</div>
</div>
</div>
{% endblock %}